@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

  /* max-width: 1280px; */
/* margin: 0 auto; */
/* padding: 2rem; */
/* text-align: center; */
/* }

/* Swiper */

.swiper-slide {
  position: relative;
}
.swiper-slide img {
  display: block;
  height: 600px;
  width: 100%;
  object-fit: cover;
}

/* Swiper ends */

.venues {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  border: 1px solid black;
}
#venue-image {
  width: 100px;
}

/* Header */ 

a {
  text-decoration: inherit;
  color: inherit;
  margin: inherit;
  padding: inherit;
  
}
.header-container {
  border: 4px solid #ef426f;
  outline: 2px solid #00b2a9;
  padding: 8px;
  background-color: lightsalmon;
  display: grid;
  
}
.header-logo {
  border: 4px solid #ef426f;
  outline: 2px solid #00b2a9;
  padding: 10px;
  margin: 8px;
  background-color: white;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-size: 48px;
  font-weight: 900;
  color: gray;
  -webkit-text-stroke: 2px black;
}
#header-logo-barcode {
  display: inline-block;
  transform: rotate(90deg);
  height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -15px;
  border-top: 3px solid #ef426f;
}
.header-top {
  display: flex;
  justify-content: space-between;
}
#header-left {
  border-radius: 8px;
  display: flex;
  
}
#header-right {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
#header-dropdown-button {
  border: 2px solid #ef426f;
  border-radius: 8px;
  padding: 5px;
  background-color: #00b2a9;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
}
#header-dropdown-button:active {
  background-color: #0e807a;
  color: white;
}
.header-dropdown {
  padding: 5px;
}
.search-bar {
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 5%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: -5px;
}
#search-input {
  background-color: rgba(255, 255, 255, 0.50);
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #ef426f;
}
#search-submit {
  background-color: #00b2a9;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #ef426f;
  
}
#search-submit:hover {
  background-color: #0e807a;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.header-links {
  display: inline-block;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  justify-content: center;
  align-content: center;
}
.header-links:hover {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: background-color 0.25s ease;
  
}

/* Header */

/* Footer */

.footer-container {
  border: 4px solid #ef426f;
  outline: 2px solid #00b2a9;
  padding: 18px;
  background-color: rgba(255, 160, 122, 1);

}
#footer-words {
  font-size: 24px;
  margin-bottom: 15px;
}
#footer-nav {
  display: flex;
  justify-content: space-between;
}
.footer-links {
  display: inline-block;
  border: 4px solid #ef426f;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 24px;
  font-weight: 900;
}
.footer-links:hover {
  outline: 2px solid #00b2a9;
  background-color: rgba(0, 0, 0, .25);
  text-decoration: underline;
  text-decoration-color: #0e807a;
}
.footer-github {
  font-size: 16px;
}

/* Footer */


/* Swiper */
.swiper-slide {
  position: relative;
}

/* Venue List*/

.venue-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.venue-card {
  background-color: rgba(255, 160, 122, .5);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  height: 320px;
  align-items: center;

}

.venue-info {
  width: 370px;
  height: 260px;
}

.venue-info img{
  width: 100%;
  height: 200px;
}

.venue-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.upcoming-events {
  width: 350px;
  height: 260px;
  list-style: none;
  background-color: rgb(162, 162, 162, 0.5);
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
}

.upcoming-list{
  background-color: rgba(255, 255, 255, 0.9);
  height: 60px;
  margin: 5px 0px 5px 0px;
  margin-top: 10px;
  padding: 5px;
  line-height: 60px;
  overflow: scroll;
}

/* venue-details.css */

.venue-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 160, 122, .5);
}

.venue-details-container h2 {
  margin-top: 0;
}

.venue-details-container p {
  margin-bottom: 10px;
}

.data-lines{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7px;
  width: 720px;
}

.data-lines p {
  text-align: left;
}


/* EventList.css */

.event-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.event-item {
  background-color: rgba(255, 160, 122, .5);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.event-item h2 {
  margin-top: 0;
  margin-bottom: 5px;
  
  
}

.bullet-point {
  list-style: none;
}

/* EventDetails.css */

.event-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 160, 122, .5);
}

/* Swiper ends */

/* Home */

.home {
  border: 5px solid #00b2a9;
  outline: 2px solid #ef426f;

}

.all-venues {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-card {
  width: 580px;
  height: 300px;
  padding: 40px;
  justify-content: space-evenly;
  margin: 0 auto;
}

.venue-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.venue-name{
  position: absolute;
  background-color: rgb(162, 162, 162, 0.5);
  width: 570px;
  height: 60px;
  font-size: 40px;
  padding-left: 10px;
  padding-top: 10px;
}


/* Home */


.event-details-container h1 {
  margin-top: 0;
}


